* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Dosis", sans-serif;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
#hero {
  width: 584px;
  margin: 0 auto 72px;
}

#hero img {
  height: 238px;
  width: 350px;
  left: 337px;
  top: 64px;
  border-radius: 0px;
}

h1 {
  font-family: "Dosis", sans-serif;
  font-size: 32px;
  line-height: 40.45px;
  font-weight: normal;

  margin-bottom: 32px;
  align-items: center;
  color: #3f3d56;
}

h1 span {
  color: #ee24ff;
}

span,
a {
  color: #3f3d56;
  font-weight: 700;
}

p,
#hero {
  text-align: center;
  font-family: "open sans", sans-serif;
  color: #828282;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}

#footer a + a {
  margin-left: 28px;
}

#footer #line {
  width: 568px;
  height: 0;

  margin: 0 auto 8px;

  border: 1px solid #eceff2;
}

#wave {
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 0;
}
